absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alexa-client==1.5.1f
aniso8601==9.0.1
anyio==3.6.2
asgiref==3.6.0
asn1crypto==1.5.1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
beautifulsoup4==4.12.0
bidict==0.22.1
boto3==1.26.95
botocore==1.29.95
CacheControl==0.12.11
cachelib==0.1.1
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
config==0.5.1
cryptography==39.0.1
Deprecated==1.2.13
distlib==0.3.6
dj-database-url==1.2.0
Django==4.1.7
django-oauth-toolkit==2.2.0
djangorestframework==3.14.0
dnspython==2.3.0
et-xmlfile==1.1.0
fastapi==0.92.0
filelock==3.9.0
firebase-admin==6.1.0
Flask==2.2.3
Flask-Ask-alphavideo==2.1.0
Flask-OAuthlib==0.9.6
Flask-SocketIO==5.3.3
Flask-Sockets==0.2.1
Flask-SQLAlchemy==3.0.3
flatbuffers==23.3.3
frozenlist==1.3.3
gast==0.4.0
gcloud==0.18.3
gevent==22.10.2
gevent-websocket==0.10.1
google-api-core==2.11.0
google-api-python-client==2.82.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.2
google-cloud-firestore==2.10.0
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
googlesearch-python==1.2.3
greenlet==2.0.2
grpcio==1.51.3
grpcio-status==1.51.3
gunicorn==20.1.0
h11==0.14.0
h2==2.6.2
h5py==3.8.0
hpack==3.0.0
httplib2==0.21.0
httptools==0.5.0
hyper==0.7.0
hyperframe==3.2.0
idna==3.4
itsdangerous==2.1.2
jax==0.4.6
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jwcrypto==1.4.2
keras==2.12.0rc1
libclang==15.0.6.1
Markdown==3.4.1
MarkupSafe==2.1.2
mock==2.0.0
msgpack==1.0.5
multidict==6.0.4
ngrok==0.2.2
nltk==3.8.1
numpy==1.23.5
oauth2client==4.1.3
oauthlib==2.0.6
openai==0.27.2
opencv-python==4.7.0.72
openpyxl==3.1.1
opt-einsum==3.3.0
outcome==1.2.0
packaging==23.0
paho-mqtt==1.6.1
pandas==1.5.3
pbr==5.11.1
platformdirs==3.0.0
proto-plus==1.22.2
protobuf==4.22.0
psutil==5.9.4
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.17
pydantic==1.10.5
PyJWT==2.6.0
pymongo==4.3.3
pyparsing==3.0.9
Pyrebase4==4.6.0
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==0.21.1
python-engineio==4.4.0
python-http-client==3.3.7
python-jwt==4.0.0
python-multipart==0.0.5
python-socketio==5.8.0
pytube==12.1.2
pytz==2022.7.1
PyYAML==5.4
redis==4.5.4
regex==2022.10.31
requests==2.28.2
requests-oauthlib==0.8.0
requests-toolbelt==0.10.1
resettabletimer==0.7.0
rsa==4.9
s3transfer==0.6.0
schedule==1.1.0
scipy==1.10.1
selenium==4.8.2
sendgrid==6.9.6
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spotipy==2.22.1
SQLAlchemy==2.0.4
sqlparse==0.4.3
starkbank-ecdsa==2.2.0
starlette==0.25.0
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0rc1
tensorflow-estimator==2.12.0rc0
# tensorflow-intel==2.12.0rc1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.9.2
typing_extensions==4.5.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.14
user-agent==0.1.10
uvicorn==0.20.0
virtualenv==20.19.0
watchfiles==0.18.1
websocket==0.2.1
websocket-client==1.2.0
websocket-client-py3==0.15.0
websockets==11.0
Werkzeug==2.2.3
whitenoise==2.0.6
wrapt==1.14.1
wsproto==1.2.0
yarl==1.8.2
zope.event==4.6
zope.interface==6.0
